<div class = 'waves'>
    <canvas  id = 'waves' class = 'waves_inner'></canvas>
  </div>
  <script src =  '{{ absURL "js/sine-waves.min.js" }}'></script>
  <script src = '{{ absURL "js/sine.js" }}?version=latest'></script>
  