<footer class = 'footer'>
    <div class = 'footer_inner wrap pale'>
      <p>&copy; <span class = 'year'></span> {{ .Site.Title }}</p>
    </div>
  </footer>
  {{ $scripts := resources.Get "js/index.js" | resources.ExecuteAsTemplate "js/index.js" . }}
  <script src = '{{ $scripts.Permalink }}'></script>
  