<script src = '{{ absURL "js/redirector.js" }}?version=latest'></script>
<header class = 'nav' >
  <nav class = 'nav-menu'>
    <a href='{{ absURL "" }}' class = 'nav-brand nav_item'>{{ .Site.Title }}</a>
    <div class = 'nav_bar-wrap'>
      <div class = 'nav_bar'></div>
    </div>
  </nav>
</header>
